.App {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.Tiles {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr;
}