.App {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.Tiles {
  display: grid;
  width: 96vw;
  height: 96vw;
  grid-template-columns: repeat(3, 1fr);
  grid-template-columns: repeat(3, 1fr);
  border: 1px solid gray;
}

@media (orientation: landscape) {
  .Tiles {
    width: 73vh;
    height: 73vh;
  }
}

button {
  all: unset;
  border: 1px solid black;
  background-color: white;
  transition: 100ms linear;
  background-size: cover;
}

.Tiles > button {
  color: white;
}

.player1 {
  background-image: url('./images/o.png');
}

.player2 {
  background-image: url('./images/x.png');
}

.RematchButton {
  width: 200px;
  height: 80px;
}

.RematchButton:hover {
  background-color: turquoise;
}